/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* body y generalidades */
body {
    background: rgba(71, 181, 255) url(materiales-tema2/fondo.png);
    margin: 0;
    padding: 0;
}

.textos {
    width: 90%;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
    margin-left: 1rem;
}

h1, h2, h3, h4 {
    font-family: "Abel", sans-serif !important;
    font-size: 2rem !important;
    font-weight: 1000;
}

/* barra de navegación */
header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: rgba(223, 246, 255);
    margin: 0 0 0 0;
}

#nombre-header {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: auto;
    flex: 1;
}

.logo-header {
    position: relative;
    right: 13rem;
    display: inline-block;
    height: 4.5rem;
    width: auto;
    margin-top: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    
}

.logo-header:hover {
    height: 6rem;
    width: auto;
    position: relative;
    right: 12.3rem;
}

nav {
    margin-left: auto;
    height: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.vinculos-header {
    gap: 1rem;
    display: flex;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-right: 1rem;
    height: 100%;
}

.vinculos-header a {
    display: flex;
    color: black;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.vinculos-header a:hover {
    background-color: rgba(186, 206, 214);
}

.redes {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.twitter,
.facebook,
.instagram {
    height: 1rem;
    width: 1rem;
}

/* footer */
footer {
    background-color: rgb(210, 224, 230);
    text-align: center;
    padding: 0.8rem;
}

footer p {
    font-family: "Ubuntu", sans-serif;
    margin: 0 0;
    line-height: 1.1;
    margin: 0.4rem 0;
}

/* botón ancla flotante */
#boton-ancla {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    text-align: center;
    font-size: 0.9rem;
    font-family: "Ubuntu", sans-serif;
}

#boton-ancla a {
    display: block;
    background-color: rgb(19, 73, 107);
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

/* main pág principal */
.sec-inicio1,
.sec-inicio2 {
    background-color: rgba(203, 231, 242, 0.9);
    width: 80%;
    border-radius: 0.2rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    align-items: center;
}

.sec-inicio2 {
    margin-left: auto;
}

#frase-foto {
    font-style: italic;
    color: rgb(90, 90, 90);
    font-size: 0.8rem;
}

.obj-inicio {
    margin: 3rem 1rem;
}

/* main pág2 metodología */

.sec-meto1, .sec-meto2, .sec-meto3 {
    background-color: rgba(203, 231, 242, 0.9);
    width: 80%;
    border-radius: 0.2rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    align-items: center;
}

.sec-meto2 {
    margin-left: auto;
}

.sec-meto3 p {
    font-size: large;
}


/* main pág3 obras */
.sec-obras1, .sec-obras2 {
    background-color: rgba(203, 231, 242, 0.9);
    width: 80%;
    border-radius: 0.2rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.sec-obras3 {
    background-color: rgba(203, 231, 242, 0.9);
    width: 80%;
    border-radius: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column; /* Envía las fotos y los textos abajo del título */
    gap: 1.5rem;
}

.sec-obras1 {
    flex-direction: column;
    width: 97.6%;
}

.sec-obras1 h1 {
    font-size: 1.7rem;
}

.sec-obras2 {
    margin-left: auto;
}

.sec-obras1 .textos {
    line-height: 1;
    width: 80%;
}

#texto-adic {
    font-size: small;
    margin-top: 1rem;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
    flex: 1;
    width: 60%;
}

.obj-obras {
    margin-left: 2rem;
}

#titulo-proyectos{
    font-size: 1.5rem;
    margin: 0 0 0 28rem;
}

.texto-proyectos {
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 1;
    font-size: 0.9rem;
}

.texto-proyectos p {
    margin: 0 2rem;
    width: 80%;
}

.proyectos {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 0 0 0 2rem;
}
